<!DOCTYPE html>
<html lang="en">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>New Asia Academy</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>

		<!-- Slick -->
		<link type="text/css" rel="stylesheet" href="css/slick.css"/>
		<link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>

		<!-- nouislider -->
		<link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>

		<!-- Font Awesome Icon -->
		<link rel="stylesheet" href="css/font-awesome.min.css">

		<!-- Custom stlylesheet -->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
 			
		<!-- slick -->
		<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

        <link rel="stylesheet" type="text/css" href="css/slick.css">
		
<style>
	.checked {
	  color: orange;
	}.count{
		color: white;
		background-color: #d57729;
		padding:10px 10px 10px 10px;
	}
	html,body
	{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		overflow-x: hidden; 
	}

    .flex-container {
      display: flex;
      background-color: DodgerBlue;
      overflow-x: scroll;
    }
    
    /* .flex-container > div > div { */
    .flex-container > div {
      background-color: #f1f1f1;
      margin: 10px;
      padding: 20px;
      font-size: 30px;
    }

	#courseImg {
		width: 100%;
	}

	@media only screen and (max-width: 600px) {
		.thecard{
			padding-left: 60px
		}
		.partner{
			font-size: 18px
		}
	}

</style>
    </head>
	<body>
		<!-- HEADER -->
		<header>
			<div id="header" style="background-color: white">
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="./img/logo3.png" alt="" >
								</a>
							</div>
						</div>
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select" style="-webkit-appearance: none;">
										<option selected="">TO LEARN... </option>
									</select>
									<input class="input" placeholder="Search here">
									<button class="search-btn">Search</button>
								</form>
							</div>
						</div>
						<div class="col-md-3 clearfix">
							<div class="header-ctn">							
							</div>
						</div>
					
					</div>
				
				</div>
			
			</div>
			
		</header>
		
		<div id="hot-deal" class="section top">
			<!-- container -->
			<div class="container-fluid">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="hot-deal">
							<ul class="hot-deal-countdown">
								
								
									
									<strong>
										<span class="count" id="days" >Days</span>						
										<span  class="count" id="hours">Hours</span>														
										<span class="count" id="minutes">Mins</span>											
										<span class="count" id="seconds">Secs</span>
									</strong>
								
							</ul>
							<h2 class="text-uppercase">hot deal this week</h2>
							<p> Up to 50% OFF</p>
							<a class="primary-btn cta-btn" href="#">GET QUOTER</a>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /HOT DEAL SECTION --><hr>							
		<div style="text-align: center;"><strong style="font-size: 30PX">PROFESSIONAL COURSE</strong></div>

<!--  -->
<!--  -->
<!--  -->


<!-- <div class="container thecard flex-container" style="padding-top: 20px" style="padding-left: 0"> -->
	<!-- <div class="flex-container"> -->
		<section class="blue">
			<div class="slider center">
			<!-- <div class="flex-container container slider center"> -->
			  <!-- <div class="row"> -->
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<!-- <img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px"> -->
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
					 
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
			
					<div style="width: 40%; padding-bottom: 30px">
						<a href="">
							<div class="card" style="width: 18rem;">
								<img src="img/hotdeal.jpg" id="courseImg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
								<div class="card-body"><br>
									<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star checked"></span>
										<span class="fa fa-star"></span>
										
										<p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>
			
											<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
								</div>
							</div>
						</a>
					</div>
					 
					 
				<!-- </div> -->
					
			</div>
		</section>

<div class="row" style="padding-top: 5%"> 
	<div class="col-sm-5"></div>
	<div class="col-sm-2">
		<a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;font-size: 25px">
			Show More
		</a>
	</div>
	<div class="col-sm-5"></div>
</div>

<hr>
<br>

	<div style="text-align: center;"><strong style="font-size: 30PX">LIMITED COURS</strong></div>


<div class="container thecard"  style="padding-top: 20px" style="padding-left: 0">
  <div class="row">

		<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>

	<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>

 			<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>


 			<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>	
    </div>


    <div class="row" style="padding-top: 5%"> 
     <div class="col-sm-5"></div>
    	 <div class="col-sm-2"><a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;font-size: 25px">Show More</a></div>
    	   <div class="col-sm-5"></div>
    </div>
  
</div>
	<hr>
<br>

			<div style="text-align: center;"><strong style="font-size: 30PX">LIMITED COURS / WORKSHOP</strong></div>


<div class="container thecard" style="padding-top: 20px" style="padding-left: 0">
  <div class="row">

		<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>

	<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>

 			<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>


 			<div class="col-sm-3"style="padding-bottom: 30px"><a href="">
  			<div class="card" style="width: 18rem;">
    		<img src="img/hotdeal.jpg" class="card-img-top" alt="..." style="max-width: 250px;max-height: 170px">
    		 	<div class="card-body"><br>
    		 		<h5 class="card-title">Professional Diploma in Digital Maeketing</h5>
 						  <span class="fa fa-star checked"></span>
						  <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star checked"></span>
			              <span class="fa fa-star"></span>
			              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			 			  <p><span style="font-size:20px"><strong>RM10</strong></span>&nbsp;<span style=" text-decoration: line-through;color: gray">RM 20</span> </p>

			 			    <a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;">Get Quoter</a>
 				</div>
 			</div>
 			</a>
 		</div>	
    </div>


    <div class="row" style="padding-top: 5%"> 
     <div class="col-sm-5"></div>
    	 <div class="col-sm-2"><a href="#" class="btn btn-primary" style="background-color: #d5823a;border: none;font-size: 25px">Show More</a></div>
    	   <div class="col-sm-5"></div>
    </div>
  
</div>
<hr>
	
	<div class="container-fluid" style="padding-top: 40px">
		<div class="row">
				<div class="col-md-6"  style="text-align: center;font-size: 25px">
				<strong class="partner">Our Academic Partners</strong>
					<img src="img/a1.jpg"style="max-width: 800px; width: 100%;height: auto;">
			</div>
			<div class="col-md-6"  style="text-align: center;font-size: 25px">
			<strong class="partner">Our Affiliate Partners</strong>
			<img src="img/a2.jpg" style="max-width: 800px; width: 100%;height: auto;">
			</div>
		</div>
	</div>
		
		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p> <strong>Follow US</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
							
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Contact</h3>
								
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>57-02, Jalan Austin Heights 8/5, Taman Mount Austin 81100 Johor Bahru</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>018 - 385 8006</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>newasiaacademy@gmail.com</a></li>
								</ul>
							</div>
						</div>
					

					

					

					
					<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">&nbsp;</h3>
								
								<ul class="footer-links">
									<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7976.667364768803!2d103.778474!3d1.563093!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da6e88f4bd46fd%3A0x29e0dd4c2803c269!2s57%2C%20Jalan%20Austin%20Heights%208%2F5%2C%2081100%20Johor%20Bahru%2C%20Johor!5e0!3m2!1szh-CN!2smy!4v1600417247092!5m2!1szh-CN!2smy" width="300" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
								</ul>
							</div>
						</div>
							<div class="col-md-4 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Information</h3>
								<ul class="footer-links">
									<li><a href="#">About Us</a></li>
									<li><a href="#">Contact Us</a></li>
									<li><a href="#">Privacy Policy</a></li>
									
								</ul>
							</div>
						</div>
						
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
	
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

		<!-- slick -->
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="slick/slick.js"></script>
		<script type="text/javascript" src="js/sclick.js"></script>

	</body>
	<script>
$( document ).ready(function() {
  getSeconds();
});
</script>
<script>
var curday;
var secTime;
var ticker;
 
function getSeconds() {
 var nowDate = new Date();
 var dy = 6 ; //Sunday through Saturday, 0 to 6
 var countertime = new Date(nowDate.getFullYear(),nowDate.getMonth(),nowDate.getDate(),20,0,0); //20 out of 24 hours = 8pm
 
 var curtime = nowDate.getTime(); //current time
 var atime = countertime.getTime(); //countdown time
 var diff = parseInt((atime - curtime)/1000);
 if (diff > 0) { curday = dy - nowDate.getDay() }
 else { curday = dy - nowDate.getDay() -1 } //after countdown time
 if (curday < 0) { curday += 7; } //already after countdown time, switch to next week
 if (diff <= 0) { diff += (86400 * 7) }
 startTimer (diff);
}
 
function startTimer(secs) {
 secTime = parseInt(secs);
 ticker = setInterval("tick()",1000);
 tick(); //initial count display
}
 
function tick() {
 var secs = secTime;
 if (secs>0) {
  secTime--;
 }
 else {
  clearInterval(ticker);
  getSeconds(); //start over
 }
 
 var days = Math.floor(secs/86400);
 secs %= 86400;
 var hours= Math.floor(secs/3600);
 secs %= 3600;
 var mins = Math.floor(secs/60);
 secs %= 60;
 
 //update the time display
 document.getElementById("days").innerHTML = curday+" Days";
 document.getElementById("hours").innerHTML = ((hours < 10 ) ? "0" : "" ) + hours+" Hours";
 document.getElementById("minutes").innerHTML = ( (mins < 10) ? "0" : "" ) + mins+" Mins";
 document.getElementById("seconds").innerHTML = ( (secs < 10) ? "0" : "" ) + secs+" Secs";
}
</script>
</html>
